// varijable, mixin-i, opcenito kod
$grey-color: #54565AE5;
$blue-color: #00ACC8BF;

$default-text-color: #6B7280;

/*$grey-background: #E5E5E5;*/
$grey-background: #f9f9f9;

$max-width-container: 900px;

$inter-font: 'Inter', sans-serif;
$mulish-font: 'Mulish', sans-serif;
$spartan-font: 'Spartan', sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop-big: 1200px;

* { margin: 0; padding: 0; }
a { text-decoration: none; }
a:hover, a:focus { text-decoration: none; }
body { font-family: $inter-font; color: $default-text-color; background-color: #f9f9f9; }
.my-container { max-width: $max-width-container; margin: 0 auto; }

